html, body, #__nuxt, #__layout
    min-width: 100vw
    background-color: $bgc

img 
    max-width 100%

#mainWrapper, #subheader
    margin: 0 .5em
    +tab()
        margin: 0 1em
    +lg()
        max-width: 1408px
        margin: 0 auto 
    +kasper()
        max-width: 1978px

p strong {
    font-weight: bold;
}

p {
    margin-bottom: 1em
}

