// Media Queries
// use with 
//  +xs() 
//      css-key: value    
//

xs() 
    @media (max-width 320px) 
        {block}
sm() 
    @media (min-width 321px) 
        {block}
tab() 
    @media (min-width 768px) 
        {block}
lap() 
    @media (min-width 1024px) 
        {block}
lg() 
    @media (min-width 1440px) 
        {block}
kasper() 
    @media (min-width 2010) 
        {block}

mobile() 
    @media (max-width 1023px) 
        {block}

shallow()
    @media (max-height 570px) 
        {block}